* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen, Arial, serif;
    font-weight: bold;
}

body {
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header__wrapper h1 {
    position: relative;
    font-size: 24px;
}

.header__wrapper h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background-color: #C4C4C4;
    height: 3px;
    border-radius: 50px;
}

.content__wrapper {
    display: flex;
    width: 90%;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 25px;
}

.content__wrapper .book-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.content__wrapper .book-form form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.content__wrapper .book-form form label {
    margin-bottom: 10px;
    padding-left: 10px;
    color: #797979;
}

.content__wrapper .book-form form input, select {
    margin-bottom: 10px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid #C8C8C8;
    text-indent: 5px;
    padding: 5px;
}

.content__wrapper .book-form form .add-button {
    padding: 5px 10px;
    border: 2px solid #2E7BEC;
    background-color: #2E7BEC;
    color: #fff;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    margin: 50px 0px;
}

.content__wrapper .book-form form .add-button:hover {
    background-color: #388DF7;
    transition: .3s;
}

.error-title, .error-author, .error-priority, .error-category {
    display: none;
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}

.content__wrapper .book-library {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.content__wrapper .book-library .book-library_properties {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 20px;
    height: auto;
}

.content__wrapper .book-library .book-library_properties p {
    width: 25%;
    text-align: center;
}

.content__wrapper .book-library .book-library_books {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    margin: 5px 0px;
    height: auto;
    min-height: 60px;
    background-color: #388DF7;
    color: #fff;
    border-radius: 5px;
}

.content__wrapper .book-library .book-library_books p {
    width: 25%;
    text-align: center;
    word-break: break-all;
}

.content__wrapper .book-library .book-library_books .delete-book {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.content__wrapper .book-library .book-library_books .delete-book::after {
    content: '\58';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
}

@media (max-width: 927px) {
    .content__wrapper {
        width: 90%;
        flex-direction: column;
    }

    .content__wrapper .book-library .book-library_properties {
        width: 100%;
        padding: 20px 0px;
    }

    .content__wrapper .book-library .book-library_books {
        width: 100%;
        padding: 20px 0px;
        align-items: center;
        font-size: 13px;
    }

    .content__wrapper .book-library .book-library_books p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 15%;
        word-break: break-all;
    }
}